body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

#board {
  height: 540px;
  width: 630px;
  background-color: pink;
  border: 10px solid deeppink;
  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  height: 70px;
  width: 70px;
  margin: 5px;

  /* Circle */
  background-color: white;
  border-radius: 50%;
  border: 5px solid deeppink;
}

.player1-piece {
  background-color: darkorchid;
}

.player2-piece {
  background-color: purple;
}
